#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  align-items: center;
}

/* .front {
  backface-visibility: hidden;
  background-color: black;
} */

/* .back {
  backface-visibility: hidden;
  background-color: red;
  color: black;
  transform: rotateY(180deg); */